# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Add PPTX files
*.pptx
